header {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 9px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 0;

    background: #fff;
    border-bottom: 1px solid #DFDFDF;
}

footer {
    display: flex;
    width: 100%;
    height: 160px;
    padding: 32px 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    background: var(--secondary-900);
}

.rayer {
    border-radius: 12px;
    background: var(--secondary-100);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

/* 로고 */
.logo {
    display: block;
    width: 153px;
    height: 51px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.login {
    cursor: pointer;
    display: flex;
    width: 128px;
    height: 48px;
    padding: 12px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--primary-100);

    color: var(--secondary-100);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.home-top {
    width: 100%;
    height: 540px;
    background: #CFE5FF;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-top-inner {
    width: 1110px;
    height: 340px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.home-top-inner img {
    display: flex;
    width: 746px;
    height: 340px;
    padding-right: 0;
    justify-content: center;
    align-items: center;
}

.home-top-content {
    width: 357px;
    height: 200px;

    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.home-top-content h1 {
    color: var(--secondary-700);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.home-top-button {
    display: flex;
    height: 56px;
    padding: 16px 124px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--primary-100);

    color: var(--secondary-50);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;

    cursor: pointer;
}

.item {
    display: flex;
    width: 100%;
    padding: 138px 344px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item-inner {
    display: flex;
    width: 988px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background: #FCFCFC;
}

.item-inner img {
    display: flex;
    width: 588px;
    height: 444px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--secondary-100);
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.item-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.item-content span {
    color: var(--primary-100);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.item-content h2 {
    color: var(--secondary-700);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.8px;
}

.item-content h5 {
    color: var(--secondary-700);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.search {
    display: flex;
    width: 100%;
    padding: 138px 342px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-inner {
    display: flex;
    width: 988px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background: #FCFCFC;
}

.search-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.search-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
}

.search-content span {
    color: var(--primary-100);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.search-content h3 {
    color: var(--secondary-700);
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.8px;
}

.search-content h6 {
    color: var(--secondary-700);
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.search-inner img {
    width: 588px;
    height: 444px;
}

.register {
    display: flex;
    width: 100%;
    padding: 138px 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.register-inner {
    display: flex;
    width: 988px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background: #FCFCFC;
}

.register-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.register-inner img {
    width: 588px;
    height: 444px;
    border-radius: 12px;
    background: var(--secondary-100);
}

.register-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.register-content span {
    color: var(--primary-100);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.register-content h4 {
    color: var(--secondary-700);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.8px;
}

.register-content p {
    color: var(--secondary-700);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.home-bottom {
    width: 100%;
    height: 540px;
    background: #CFE5FF;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.home-bottom-inner {
    width: 1110px;
    height: 397px;
    display: inline-flex;
    align-items: center;
    gap: 69px;
}

.home-bottom-inner img {
    display: flex;
    width: 746px;
    height: 397px;
    justify-content: center;
    align-items: center;
}

.home-bottom-content {
    width: 295px;
    height: 112px;
    display: flex;
    padding-bottom: 60px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 10px;
}

.home-bottom-content h1 {
    color: var(--secondary-700);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.footer-copyright {
    color: var(--secondary-400);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-menu {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.footer-menu a {
    color: var(--secondary-200);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-sns {
    display: flex;
    width: 116px;
    align-items: flex-start;
    gap: 12px;
}

.footer-sns img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}